<div class="row"> <div class="col-2"><app-home></app-home></div>
<div class="col-10" style="padding-top: 20px; background-color: rgb(255, 255, 255);">

    <div class="card-body bd">


     <form class="row" name="form" [formGroup]="f">

        <div class="row " style="padding-bottom: 40px;">



            <div class="row" ><div class="col-1"><span  class="input-group-text text-danger l "><i  class="fa fa-user-circle-o"></i></span> </div>
          <div class="col-11  "><input  type="text" formControlName="Category" class="form-control me" placeholder="category"
              [ngClass]="{ 'is-invalid': submitted && f.controls['Category'].invalid }" required>
            <div *ngIf="submitted && f.controls['Category'].invalid" class="invalid-feedback">
              <div *ngIf="f.controls['Category'].errors required">Category is missing</div></div></div></div>
            </div>



          <div class="row"><div class="col-1"><span  class="input-group-text text-danger r"><i  class="fa fa-file -o"></i></span> </div>
          <div class="col-11">

            <input type="text" formControlName="description" class="form-control me s" placeholder="description"
              [ngClass]="{'is-invalid': submitted && f.controls['description'].invalid}" required>
            <div *ngIf="submitted&&f.controls['description'].invalid" class="invalid-feedback">
              <div *ngIf="f.controls['description'].errors required">description</div></div>
            </div>
          </div>



        <div class="col-12">
          <button class="m2" style=" box-shadow: 3px black;" type="submit" (click)="submit1()">save</button>

          <button class="as" type="reset" routerLink="/emp">cancal</button>
        </div>
      </form>
    </div>
    </div></div>



