

  <input type='checkbox' id='menu_active' >
  <div id='wrapper' class='active'>
    <div id='menu'><span id='site-name' style="font-size: 17px;font-style: italic; color: rgb(255, 231, 15);"><button class="btn" style="background-color:transparent; padding-right: 1px;padding-top: 1px;padding-left: 0px; border-color: transparent;" routerLink="/home"><i class="fa fa-arrow-left" style="float: left; color:rgb(255, 0, 0);"></i></button>TASK MANAGER</span>
      <ul>
        <a href='/nav'  style="padding-bottom: 10px; font-size: 15px; padding-top: 5px ;">
          <li>Home<i class="fa fa-home" style="font-size: 15px;"></i></li>
        </a>
        <hr>
        <a href='/cat' routerLink="/cat" style="padding-bottom: 10px; font-size: 12px; padding-top: 5px ; ">
          <li >CATAGORY MASTER<i class="fa fa-send " style="font-size: 15px;"></i></li>
        </a>
        <a href='/client'routerLink="/client" style="padding-bottom: 10px; font-size: 12px; padding-top: 5px;">
        <li>CLIENT MASTER<i class="fa fa-user" style="font-size: 15px;"></i></li>
        </a>

        <a href='/emp' routerLink="/emp" style="padding-bottom: 10px; font-size: 12px; padding-top: 5px;">
          <li>EMPLOYEE MASTER<i class="fa fa-user"   style="font-size: 15px;"></i></li>
        </a>
        <hr>
        <a href='/task' routerLink="/task" style="padding-bottom: 10px; font-size: 12px; padding-top: 5px;">

          <li>TASK ALLOCATION<i class="fa fa-user" style="font-size: 15px;"></i></li>
        </a>

      </ul>
    </div>
  </div>


