table,tr,td,th{
  border: 1px solid rgb(55, 55, 55);
  background-color: rgb(251, 253, 202);
  padding: 10px 90px 10px 90px;
}
button{
  float:right;

  border-radius: 10px;
  background-color:rgb(0, 76, 255) ;
  color: rgb(255, 255, 255);
  border-color: transparent;
   width: 100%;
}
